.form-row {
	margin-bottom: 8px;
	overflow: hidden;
}

.form-row input {
	float: right;
	height: 19px;
	line-height: 19px;
	margin: 0;
	padding: 0 5px;
	width: 287px;
	border: 1px solid #ABADB3;
}

.reg-form {
	width: 520px;
	margin: 0 auto;
}

.form-row textarea {
	height: 90px;
	line-height: 16px;
	font-size: 12px;
	padding: 0 5px;
	width: 150px;
	border: 1px solid #ABADB3;
}

.form-row button {
	padding:5px;
	height:25px;
	width:100%;
	line-height: 10px;
	background: #337AB7;
	color:white;
}

.form-row button:hover {
	background:#286090;
}

.form-row button {
	padding:5px;
	height:25px;
	width:100%;
	line-height: 10px;
	background: #337AB7;
	color:white;
}

.form-row button:hover {
	background:#286090;
}

* {
	font-family:arial;
	font-size:10pt;
}

.checkAndRadio {
	margin-left: 0;
//width: 12px;
}

.navbar {
	min-height: 80px;
}
.navbar-brand {
	padding: 0 15px;
	height: 80px;
	line-height: 80px;
}
.navbar-toggle {
	margin-top: 23px;
	padding: 9px 10px !important;
}
@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding-top: 26.5px;
		padding-bottom: 26.5px;
		line-height: 27px;
	}
}