.form-row {
    margin-bottom: 8px;
    margin-top: 16px;

}

.card-block {
    padding: 20px;
}

.navbar {
    margin-bottom: 0;
}

input, select, body {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.my-btn {
    width: 140px;
    margin-top: 5px;
}

body {
    background-size: cover;
}

input[type=checkbox]
{
    -webkit-appearance:checkbox;
}

.container-fluid {
    margin-top: 15px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}