<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Credit applications</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="../../resources/js/search.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="header">
    <nav class="navbar navbar-dark bg-primary">
        <div>
            <a class="navbar-brand" href="#">HOME</a>
        </div>
    </nav>
</div>

<button class="btn btn-primary my-btn" type="button" data-toggle="modal" data-target="#formCollapse">
    Filter
</button>
<div class="modal fade" id="formCollapse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="form" style="max-width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="search-form" class="form-row justify-content-around" th:action="@{/credit_applications}" method="post" th:object="${creditApplicationSearchFormDto}">
                    <fieldset class="col-8">

                        <legend>Applications parameters</legend>
                        <div class='form-row justify-content-between'>
                            <div class="col">
                                <label for="dateFrom">Period</label>
                                <div class="form-row">
                                    <div class="col">
                                        <input class="form-control" id="dateFrom" type="date" th:field="*{dateFrom}" required>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" id="dateTo" type="date" th:field="*{dateTo}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-1"></div>

                            <div class="col">
                                <label for='loanPeriodFrom'>Loan period</label>
                                <div class="form-row">
                                    <div class="col">
                                        <input class="form-control" type='number' th:field="*{loanPeriodFrom}" id="loanPeriodFrom" min="3" required>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type='number' th:field="*{loanPeriodTo}" id="loanPeriodTo" min="3" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='form-row justify-content-between'>
                            <div class="col">
                                <label for='incomeFrom'>Income</label>
                                <div class="form-row">
                                    <div class="col">
                                        <input class="form-control" type='number' th:field="*{incomeFrom}" id="incomeFrom" step="10" min="100" required>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type='number' th:field="*{incomeTo}" id="incomeTo" step="10" min="100" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-1"></div>

                            <div class="col">
                                <label for='pledgeFrom'>Pledge</label>
                                <div class="form-row">
                                    <div class="col">
                                        <input class="form-control" type='number' th:field="*{pledgeFrom}" id="pledgeFrom" step="10" min="0" required>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type='number' th:field="*{pledgeTo}" id="pledgeTo" step="10" min="0" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-1"></div>

                            <div class="col">
                                <label for='sumFrom'>Sum</label>
                                <div class="form-row">
                                    <div class="col">
                                        <input class="form-control" type='number' th:field="*{sumFrom}" id="sumFrom" step="10" min="100" required>
                                    </div>
                                    <div class="col">
                                        <input class="form-control" type='number' th:field="*{sumTo}" id="sumTo" step="10" min="100" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='form-row'>
                            <div class="col">
                                <p>Application quality</p>
                                <div class="form-check" th:each="applicationQuality : ${applicationQuality}">
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" th:field="*{applicationQuality}" th:value="${applicationQuality}">
                                        <span class="form-check-label" th:text="${#strings.capitalize(#strings.toLowerCase(applicationQuality))}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <p>Scoring system resolution</p>
                                <div class="form-check" th:each="scoringSystemResolution : ${applicationQuality}">
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" th:field="*{scoringSystemResolution}" th:value="${scoringSystemResolution}">
                                        <span class="form-check-label" th:text="${#strings.capitalize(#strings.toLowerCase(scoringSystemResolution))}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <p>Credits</p>
                                <div class="form-check" th:each="credit : ${credits}">
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" th:field="*{creditId}" th:value="${credit}">
                                        <span class="form-check-label" th:text="${credit}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='d-flex align-content-start flex-wrap'>
                            <div>
                                <span>Applications per page</span>
                            </div>
                            <div class="col-2">
                                <input class="form-control" type='number' th:field="*{applicationsPerPage}" min="1" required>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="col-3">
                        <legend>Clients' parameters</legend>

                        <div class='form-row'>
                            <div class="col-4">
                                <p>Children</p>
                            </div>
                            <div class="col-4">
                                <input class="form-control" type='number' th:field="*{childrenFrom}" step="1" min="0" required>
                            </div>
                            <div class="col-4">
                                <input class="form-control" type='number' th:field="*{childrenTo}" step="1" min="0" required>
                            </div>
                        </div>

                        <div class='form-row'>
                            <div class="col-4">
                                <p>Age</p>
                            </div>
                            <div class="col-4">
                                <input class="form-control" type='number' th:field="*{ageFrom}" step="1" min="18" max="70" required>
                            </div>
                            <div class="col-4">
                                <input class="form-control" type='number' th:field="*{ageTo}" step="1" min="18" max="70" required>
                            </div>
                        </div>

                        <div class='form-row'>
                            <div class="col-4">
                                <p>Gender</p>
                            </div>
                            <div class="col-8">
                                <div class="form-check form-check-inline" th:each="gender : ${gender}">
                                    <input class="form-check-input" type="checkbox" th:field="*{gender}" th:value="${gender}">
                                    <span class="form-check-label" th:text="${#strings.capitalize(#strings.toLowerCase(gender))}"></span>
                                </div>
                            </div>
                        </div>

                        <div class='form-row'>
                            <div class="col">
                                <p>Marital status</p>
                                <div class="form-check" th:each="maritalStatus : ${maritalStatus}">
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" th:field="*{maritalStatus}" th:value="${maritalStatus}">
                                        <span class="form-check-label" th:text="${#strings.capitalize(#strings.toLowerCase(maritalStatus))}"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <p>Client's rating</p>
                                <div class="form-check" th:each="clientRating : ${clientRating}">
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" th:field="*{clientRating}" th:value="${clientRating}">
                                        <span class="form-check-label" th:text="${#strings.capitalize(#strings.toLowerCase(clientRating))}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" value="1" onclick="sendInputDataToServer()">Submit</button>
            </div>
        </div>
    </div>
</div>
<div id="search-result"></div>
</body>
</html>