<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <div th:replace="fragments/imports :: imports"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container-fluid row">
    <div class="col-3">
        <div th:replace="fragments/login :: login">
            <div class="card">
                <div class="card-header p-b-0">
                    <h5 class="card-title">
                        Log In
                    </h5>
                </div>
                <div class="card-block">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-row justify-content-around">
                            <button type="submit" class="btn btn-primary">Log In</button>
                            <button type="submit" class="btn btn-success">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div th:replace="fragments/loremIpsum :: loremIpsum"></div>
    </div>

    <div class="col-6">
        <div th:replace="fragments/advertisement :: advertisement">

        </div>
        <hr>
        <div class="row">
            <div class="col" style="padding-left: 15px; padding-right: 15px;">
                <h2>Lorem ipsum</h2>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum."</p>
                <p><button class="btn btn-outline-success" th:text="#{read.more}">Read More</button></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h2>Lorem ipsum</h2>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum."</p>
                <p><button class="btn btn-outline-success" th:text="#{read.more}">Read More</button></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h2>Lorem ipsum</h2>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum."</p>
                <p><button class="btn btn-outline-success" th:text="#{read.more}">Read More</button></p>
            </div>
        </div>
        <hr>
    </div>

    <div class="col-3">
        <div th:replace="fragments/exchangeRates :: exchangeRates">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Currency</th>
                    <th scope="col">Buy</th>
                    <th scope="col">Sell</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">USD</th>
                    <td>1,9560</td>
                    <td>1,9780</td>
                </tr>
                <tr>
                    <th scope="row">EUR</th>
                    <td>2,4100</td>
                    <td>2,4350</td>
                </tr>
                <tr>
                    <th scope="row">100 RUB</th>
                    <td>3,3950</td>
                    <td>3,4550</td>
                </tr>
                <tr>
                    <th scope="row">10 PLN</th>
                    <td>5.2000</td>
                    <td>5.8000</td>
                </tr>
                <tr>
                    <th scope="row">GBP</th>
                    <td>2.6400</td>
                    <td>2.7400</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
