<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>
    <div th:replace="fragments/imports :: imports"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container-fluid row" style="margin-top: 15px">
    <div class="col-3">
        <div th:replace="fragments/login :: login">
        </div>
    </div>

    <div class="card col-6">
        <div class="card-header">
            <h5 class="card-title" th:text="#{registration.form}">
                Registration form
            </h5>
        </div>
        <div class="card-block">
            <form id="client-form" th:object="${client}">
                <fieldset>
                    <legend th:text="#{parameters.client}">Clients' info</legend>
                    <div class='form-row'>
                        <div class="col">
                            <label for="firstName" id="123" th:text="#{firstName}">First name</label>
                            <input type="text" id="firstName" th:field="*{firstName}" >
                        </div>
                        <div class="col">
                            <label for="lastName" th:text="#{lastName}">Last name</label>
                            <input type="text" id="lastName" th:field="*{lastName}">
                        </div>
                    </div>
                    <div class='form-row'>
                        <div class="col">
                            <label for="username" th:text="#{username}">Username</label>
                            <input type="text" id="username" th:field="*{username}">
                        </div>
                        <div class="col">
                            <label for="password" th:text="#{password}">Password</label>
                            <input type="text" id="password" th:field="*{password}">
                        </div>
                    </div>
                    <div class='form-row'>
                        <div class="col">
                            <label for="birthday" th:text="#{birthday}">Birthday</label>
                            <input type="date" id="birthday" th:field="*{birthday}"></div>
                        <div class="col">
                            <label for="gender" th:text="#{gender}">Gender</label>
                            <select class="custom-select" id="gender" th:field="*{gender}">
                                <option th:value="MALE" selected th:text="#{gender.male}">Male</option>
                                <option th:value="FEMALE" th:text="#{gender.female}">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class='form-row'>
                        <div class="col">
                            <label for="maritalStatus" th:text="#{maritalStatus}">Marital status</label>
                            <select class="custom-select" id="maritalStatus" th:field="*{maritalStatus}">
                                <option th:value="SINGLE" selected th:text="#{maritalStatus.single}">SINGLE</option>
                                <option th:value="MARRIED" th:text="#{maritalStatus.married}">MARRIED</option>
                                <option th:value="DIVORCED" th:text="#{maritalStatus.divorced}">DIVORCED</option>
                            </select>
                        </div>
                        <div class="col" style="display: none;">
                            <label for="rating" th:text="#{clientRating}">Rating</label>
                            <select class="custom-select" id="rating" th:field="*{rating}">
                                <option th:value="GOOD" selected th:text="#{clientRating.good}">GOOD</option>
                                <option th:value="BAD" th:text="#{clientRating.bad}">BAD</option>
                                <option th:value="VIP" th:text="#{clientRating.vip}">VIP</option>
                                <option th:value="PROBLEM" th:text="#{clientRating.problem}">PROBLEM</option>
                                <option th:value="NORMAL" th:text="#{clientRating.normal}">NORMAL</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <hr>

                <fieldset id="children-fieldset">
                    <div class="form-row justify-content-between">
                        <!--<legend class="col" id="children-counter">Children</legend>-->
                        <legend class="col" id="children-counter" th:value="${client.children.size()}" th:text="'Children(' + ${client.children.size()} + ')' ">Children</legend>
                        <div class="col-2">
                            <button class="btn btn-success" type="button" onclick="addChildFieldsToRegistrationForm()" th:text="#{add.child}">+ Add child</button>
                        </div>
                    </div>
                    <div th:each="child, rowStat : *{children}" id="children-list">
                        <div>
                            <div class="row">
                                <div class="col">
                                    <div class='form-row'>
                                        <div class="col">
                                            <label th:for="|firstName${rowStat.index}|" th:text="#{firstName}">First name</label>
                                            <input type="text" th:id="|firstName${rowStat.index}|" th:field="*{children[__${rowStat.index}__].firstName}" >
                                        </div>
                                        <div class="col">
                                            <label th:for="|lastName${rowStat.index}|" th:text="#{lastName}">Last name</label>
                                            <input type="text" th:id="|lastName${rowStat.index}|" th:field="*{children[__${rowStat.index}__].lastName}">
                                        </div>
                                    </div>
                                    <div class='form-row'>
                                        <div class="col">
                                            <label th:for="|birthday${rowStat.index}|" th:text="#{birthday}">Birthday</label>
                                            <input type="date" th:id="|birthday${rowStat.index}|" th:field="*{children[__${rowStat.index}__].birthday}"></div>
                                        <div class="col">
                                            <label th:for="|gender${rowStat.index}|" th:text="#{gender}">Gender</label>
                                            <select class="custom-select" th:id="|gender${rowStat.index}|" th:field="*{children[__${rowStat.index}__].gender}">
                                                <option th:value="MALE">Male</option>
                                                <option th:value="FEMALE">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-warning" type="button" onclick="removeChildOnButton(this)" style="height: 50%">-</button>
                            </div>
                            <hr>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="card-footer d-flex flex-row-reverse">
            <button class="btn btn-primary" type="button" onclick="submitRegistrationForm()" th:text="#{submit}">Submit</button>
        </div>
    </div>

    <div class="col-3">
        <div th:replace="fragments/exchangeRates :: exchangeRates">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Currency</th>
                    <th scope="col">Buy</th>
                    <th scope="col">Sell</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">USD</th>
                    <td>1,9560</td>
                    <td>1,9780</td>
                </tr>
                <tr>
                    <th scope="row">EUR</th>
                    <td>2,4100</td>
                    <td>2,4350</td>
                </tr>
                <tr>
                    <th scope="row">100 RUB</th>
                    <td>3,3950</td>
                    <td>3,4550</td>
                </tr>
                <tr>
                    <th scope="row">10 PLN</th>
                    <td>5.2000</td>
                    <td>5.8000</td>
                </tr>
                <tr>
                    <th scope="row">GBP</th>
                    <td>2.6400</td>
                    <td>2.7400</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>
</body>
</html>